<div class="container mt-5">
    <div class="card" style="width:15rem">
        <div class="card-body">
            <ul>
                <li><%=@contact.name%></li>
                <li><%=@contact.email%></li>
                <li><%=@contact.phone_number%></li>
            </ul>
             <%= button_to "Hapus Data", @contact, method: :delete,class:'btn btn-danger btn-sm' %>
        </div>
    </div>
</div>